@model List<LMS3.Models.Reader>
<style>
    .button-group {
        display: flex;
        gap: 10px;
    }
</style>

<h2>Readers List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Books Borrowed by ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reader in Model)
        {
            <tr>
                <td>@reader.ReaderId</td>
                <td>@reader.Name</td>
                <td>@string.Join(", ", reader.BorrowedBooks.Select(b => b.BookId))</td>
                <td>
                    <div class="button-group">
                        <a asp-action="GetReader" asp-route-id="@reader.ReaderId" class="btn btn-primary">View</a>
                        <form asp-action="DeleteReader" asp-route-id="@reader.ReaderId" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Reader" asp-action="AddReader" class="btn btn-success">Add New Reader</a>